@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: oklch(43.2% 0.095 166.913);
    --primary-color-darker: oklch(37.8% 0.077 168.94);
    --primary-color-active: oklch(26.2% 0.051 172.552);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: "Nunito", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-size: 1.3em;  
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 25px;
}

.container-imc {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
}

.imc {
    margin-right: 150px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input::focus {
    outline: 2px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: var(--primary-color-active);
}

.paragrafo-resultado {
    background: #4dfa67;
    padding: 10px 20px;
}

.bad {
    background: #ff5757;
    padding: 10px 20px;
}

